/*
 * Copyright 2007-2009 Sun Microsystems, Inc. All Rights Reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
 *
 * This code is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2
 * only, as published by the Free Software Foundation.
 *
 * This code is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License version 2 for more details (a copy is
 * included in the LICENSE file that accompanied this code).
 *
 * You should have received a copy of the GNU General Public License
 * version 2 along with this work; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA
 *
 * Please contact Sun Microsystems, Inc., 16 Network Circle, Menlo
 * Park, CA 94025 or visit www.sun.com if you need additional
 * information or have any questions.
 */
body {
	font-family: serif, Helvetica;
	padding: 0 1em 0 1em;
}

/*
 * Miscellaneous short class definitions
 */
.objectId, .ObjectId, .NodeId {
    font-family: monospace;
}

button {

}

table { 
	border-spacing: 0px;
	margin: 0;
	padding: 0;
}

caption {
	text-align: left;
	font-weight: bold;
	padding: 0.125em 0.5em 0.125em 0.5em;
}

tr {
	vertical-align: top;
}

td { 
	padding: 0 1em 0 0;
	margin: 0;
}

th {
	text-align: left;
}

td.number {
	text-align: right;
}

h1,h2,h3 {

}

.ObjectId {
	font-family: monospace;
}

div.section {
	padding: 0.5em;
	margin: 0.5em;
}

div.section > table { 
	vertical-align: top;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	border-spacing: 0.5em;
}

div.section > table > caption {
	margin: 0 0 0.5em 0;
	text-align: left;
	font-variant: small-caps;
	font-weight: bold;
	font-size: large;
	padding: 2px;
}

div.section > table > tbody > tr {
	vertical-align: top;
}


h1.meta-info {
	font-size: large;
	font-weight: bold;
}


table.java {
	font-size: x-small;
	font-family: serif;
	width: 100%;
}

table.java td {
	padding: 0.25em 0 0 0;
	text-align: left;
}

table.java td + td {
	text-align: right;
}


table.socket-cache {
/*	font-size: x-small;*/
	font-family: serif;
	width: 100%;
}

table.socket-cache td {
	padding: 0.25em 0 0 0;
	text-align: left;
}

table.socket-cache td + td {
	text-align: right;
}

table.threads {
/*	font-size: x-small;*/
	font-family: serif;
}

table.threads tr.threadGroup td {
	font-weight: bold;
}

table.threads td {
	padding: 0 0.25em 0 0;
}

table.node-properties {
/*	font-size: small;*/
	margin: 0.5em;
/*	font-size: xx-small;*/
	vertical-align: top;
	border-collapse: collapse;
}

table.node-properties > caption {
	text-align: left;
	font-weight: bold;
}

table.node-properties > tbody > tr {
	padding: 0.25em;
}

table.node-properties > tbody > td {
	padding: 0 .5em 0 .5em;
	text-align: right;
}


/* neighbourMap (as a sub-table called routingTable ) */

table.neighbour-map {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
/*	font-size: small;*/
	font-weight: bold;
}

table.neighbour-map thead th {
	font-family: monospace;
	text-align: center;
	padding: 0 0.25em 0 0.25em;
	margin: 0;
}

table.neighbour-map td {
    font-family: monospace;
	text-align: center;
	padding: 0 0.25em 0 0.25em;
	margin: 0;
}

table.neighbour-map a,
table.neighbour-map a:visited,
table.neighbour-map a:link {
	color: inherit;
}

table.neighbour-map tr > td:first-child {
	border: none;
	font-weight: normal;
}

table.neighbour-map td.full {

}

table.neighbourMap caption {
/*	font-size: small;*/
	font-family: sans-serif;
}

table.neighbour-map tr {
	vertical-align: top;
}

/* applications */
table#applications thead th {
	padding: 0.2em 0.5em 0.1em 0.5em;
	text-align: left;
	font-variant: small-caps;
}

table#applications td {
	padding: 0.2em 0.5em 0.1em 0.5em;
}

/* objectStore */
table#objectStore {
	border-collapse: collapse;
	vertical-align: top;
}

table#objectStore th {
	text-align: right;
	padding: 0.2em 0.3em 0.1em 0.3em;
/*	font-size: x-small;*/
	font-variant: small-caps;
}

table#objectStore th:first-child {
	text-align: left;
	padding: 0.2em 0.3em 0.1em 0.3em;
}

table#objectStore th:first-child + th + th + th + th + th {
	text-align: left;
	padding: 0.2em 0.3em 0.1em 0.3em;
}

table#objectStore td {
	padding: 0.1em 0.3em 0.1em 0.3em;
	vertical-align: top;
	text-align: right;
	font-family: monospace;
/*	font-size: x-small;*/
}

table#objectStore td.objectId {
	text-align: left;
}

table#objectStore td.deleted {
	text-decoration: line-through;
}


/*  object publish records */
table.Publishers {
	border-collapse: collapse;
	width: 100%;
/*	font-family: monospace;*/
/*	font-size: x-small;*/
}

table.Publishers th {
	text-align: left;
	padding: 0.2em 0.5em 0.1em 0.5em;
}

table.Publishers td.numeric {
	text-align: right;
}

table.Publishers a.deleted {
	text-decoration: line-through;
}

table.Publishers a,
table.Publishers a:visited,
table.Publishers a:link {
}

table.Publishers tr.barrier {

}

table.Publishers td.deleted {
	text-decoration: line-through;
}

table.Publishers td.root,
table.Publishers td.root a,
table.Publishers td.root a:visited,
table.Publishers td.root a:link {

}

table.Publishers td:first-child + td + td, 
table.Publishers td:first-child + td + td + td, 
table.Publishers td:first-child + td + td + td + td {
	text-align: right;
} 

/* DOLRMessage formatting */
table.DOLRMessage {
	border-collapse: collapse;
}

table.DOLRMessage caption {
	text-align: left;
	font-weight: bold;
}

table.DOLRMessage tr > td:first-child {
	font-style: italic;
	font-weight: bold;
	width: 7em;
	vertical-align: top;
}

table.DOLRMessage td {
	padding: 0.25em;
	vertical-align: top;
}

table.DOLRMessage pre {
/*	font-size: x-small;*/
}

table.DOLRMessage .metadata tr > td:first-child, table.DOLRMessage .metadata td {
	border: none;
}

table.metadata {
	
}

table.metadata td:first-child {
	font-weight: bold;
}

div.copyright {
	margin-top: 1em;
}

div.copyright table {
	/*float: right;*/
}

div.release {
	margin-top: 1em;
}

tr.stripe td {
}

button {
	text-align: center;
	font-size: x-small;
}

button[value="on"] {
}

button[value="on"]:hover {
}

button[value="off"] {
}

button[value="off"]:hover {
}

.toggle-button {
	font-family: sans-serif;
	font-size: x-small;
	font-weight: bold;
	padding: 0 0.3em 0 0.3em;
	text-decoration: none;
	text-align: center;
}

.toggle-button.on {
}
	
.toggle-button.off {
}

.toggle-button.off:hover, .toggle-button-off:hover {
}

a.bracket:before {
	content: "[";
	font-weight: bold;
}

a.bracket:after {
	content: "]";
	font-weight: bold;
}

table.FragmentMap td {
	font-size: small;
}

table.formattedData {
	font-family: monospace;
	font-size: xx-small;
}
table.formattedData td {
	margin: 0;
	padding: 1px;
}

/* application related stuff */
/* this stuff should not be here because applications come and go.  they should have their own style embedded with them somehow */
pre.logfile {
	font-size: x-small;
}

table.controls tr {
	vertical-align: top;
}

table.controls td {
	vertical-align: top;
	padding: 0.125em 0.25em 0.125em 0;
}

.sunlabs_beehive_dolr_application_CatalogueNodes_1 table.data > tbody > tr > td {
	margin: 0 1em 0 0;
	font-size: small;
}

.sunlabs_beehive_dolr_application_CatalogueNodes_1 table.data > tbody > tr > td:first-child {
	font-family: monospace;
}

.sunlabs_beehive_dolr_application_LinearizerApplication3_1 table {
	border-collapse: collapse;
}

.sunlabs_beehive_dolr_application_LinearizerApplication3_1 table.data > tbody > tr > td {
	padding: 0.5em 1em 0.5em 0;
	border-collapse: collapse;
}

.sunlabs_beehive_dolr_application_LinearizerApplication3_1 table.timestamp td {
	padding: 0 0.5em 0 0.5em;
}
